{% extends "base.html" %}
    {% load static %}
    {% block content %}
        <div id="about">
          <div class="container container-fluid">
              <div class="row">
                  <div class="col-lg-4 col-sm-12">
                      </br></br></br>
                      <img id="photo" class="img-circle" alt="Fitri Handayani" src="https://files.catbox.moe/cd0cg5.jpg"  width="270" height="auto" border>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                      <h2 style="padding-top: 100px; font-size: 40px;">Details</h2>
                          </br>
                          <p><strong>Name :</strong></br>
                          Fitri Handayani</br>
                          <strong>Age :</strong></br>
                          19 years old</br>
                          <strong>College :</strong></br>
                          University of Indonesia</br>
                          <strong>Locations :</strong></br>
                          Jakarta, Indonesia</br>
                          </p>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                      <h2 style="padding-top: 100px; font-size: 40px;">About Me</h2>
                          </br>
                          <p>Hello, I'm <b>Fitri</b>. I'm a sophomore in <b>Computer Science</b> at <b>University of Indonesia</b>. 
                          I love listening to music, watching videos, exercise and cooking. 
                          I am a newbie in the field of programming because I started learning it when I entered college. 
                          At first, I was afraid because I didn't understand anything about it. 
                          Thanks to the support and help from my friends, I am getting used to it. I can work in team and independently.</p>
                  </div>
              </div>
          </div>
        <div class="text-center">
          <div style="padding-bottom: 80px;"class="quote">
              </br></br>
              <p>"Challenges are what make life <b><i>interesting</i></b> and overcoming them is what makes life <b><i>meaningful."</i></b>
                  -Joshua J. Marine </p>
          </div>
        </div>
      </div>
    {% endblock content %}