<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Fitri's Website</title>
        <meta charset="UTF-8">
        <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <link rel="icon" type="img/png" href="https://files.catbox.moe/qoyk7z.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu Condensed">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a href="{% url 'myblog' %}" class="navbar-brand"><img class="logo mr-auto" src="https://files.catbox.moe/qoyk7z.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
              <form class="form-inline my-2 my-lg-0">
                    <a class="nav-link" href="{% url 'myblog' %}">Home</a>
                    <a class="nav-link" href="{% url 'about' %}">About</a>
                    <a class="nav-link" href="{% url 'background' %}">Background</a>
                    <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
                    <a class="nav-link" href="{% url 'message' %}">Message</a>
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </form>
            </div>
          </nav>
          {% block content %}
          {% endblock content %}
        <footer class="page-footer font-small blue fixed-bottom">
            <!-- Copyright -->
                <div class="footer-copyright text-center py-3">Fitri Handayani © 2019</div>
            <!-- Copyright -->
        </footer>
        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper-utils.js"></script>
        <script src="{% static 'bootstrap.bundle.min.js' %}"></script> 
    </body>
</html>
    