{% extends "base.html" %}
    {% load static %} 
    {% block content %} 
        <!-- contact page -->
        <div id="contact">
            <h1 class="title" style="text-align: center; justify-content: center;">Contact</h1>
                <div class="container contact">
                    <div class="row">
                        <div class="col">
                            <a href="https://www.linkedin.com/in/fitriihndynii">
                                <img id="sns" alt="linkedin" src="https://files.catbox.moe/7x2p1n.png" width=70 height=70> &nbsp; https://www.linkedin.com/in/fitriihndynii</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="https://www.facebook.com/fitriihndynii">
                                <img id="sns" alt="facebook" src="https://files.catbox.moe/bqsxcj.png" width=70 height=70> &nbsp; https://www.facebook.com/fitriihndynii</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="http://www.instagram.com/fitriihndynii">
                                <img id="sns" alt="instagram" src="https://files.catbox.moe/yrtln2.png" width=70 height=70> &nbsp; http://www.instagram.com/fitriihndynii</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="http://www.twitter.com/fitriihndynii">
                                <img id="sns" alt="twitter" src="https://files.catbox.moe/xhrf2g.png" width=70 height=70> &nbsp; http://www.twitter.com/fitriihndynii</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="mailto:fitriihndynii@gmail.com">
                                <img id="sns" alt="gmail" src="https://files.catbox.moe/w0pmou.png" width=70 height=70> &nbsp; fitriihndynii@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock content %}