{% extends "base.html" %}
    {% load static %}
    {% block content %}
        <!-- message page -->
        <div id="message">
            <div class="container">
                <h1 class="title" style="text-align: center; justify-content: center;">Send Me Your Message</h1>
                <form method="POST">
                    <div class="form-group">
                        <label for="InputName">Name</label>
                        <input type="name" class="form-control" id="InputName" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <label for="InputEmail">Email Address</label>
                        <input type="email" class="form-control" id="InputEmail" placeholder="Your Email" required>
                    </div>
                    <div class="form-group">
                        <label for="InputSubject">Subject</label>
                        <input type="subject" class="form-control" id="InputSubject" placeholder="Subject" required>
                    </div>
                    <div class="form-group">
                        <label for="InputMessage">Message</label>
                        <textarea type="message" class="form-control" id="InputMessage" placeholder="Message" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    {% endblock content %}